In [1]:
import pandas as pd
import math as math
from keras.layers import Bidirectional, Concatenate, Permute, Dot, Input, LSTM, Lambda, TimeDistributed, Flatten, Reshape
from keras.layers import RepeatVector, Dense, Activation, Lambda
from keras.optimizers import Adam
from keras.utils import to_categorical
from keras.models import load_model, Model
import keras.backend as K
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from scipy.special import boxcox, inv_boxcox

import numpy as np
import tensorflow as tf
from sklearn.model_selection import TimeSeriesSplit

Using TensorFlow backend.

In [2]:
data = pd.read_csv(r"C:\Users\patte\Documents\apps\covidLSTM\COVID-19\csse_covid_19_data\csse_covid_19_time_series\time_series_covid19_confirmed_global.csv");

In [3]:
data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,484,521,555,607,665,714,784,840,906,933
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,409,416,433,446,467,475,494,518,539,548
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,1666,1761,1825,1914,1983,2070,2160,2268,2418,2534
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,583,601,601,638,646,659,673,673,696,704
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19,19,19,19,19,19,19,19,19,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,3,4,4,4,4,4,4,4,4,4
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,4,4,4,6,6,6,6,6,6,6
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,1,1

In [4]:
uk_data = data.loc[data['Country/Region'] == '']
uk_data

Empty DataFrame
Columns: [Province/State, Country/Region, Lat, Long, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20, 3/9/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20, 3/26/20, 3/27/20, 3/28/20, 3/29/20, 3/30/20, 3/31/20, 4/1/20, 4/2/20, 4/3/20, 4/4/20, 4/5/20, 4/6/20, 4/7/20, 4/8/20, 4/9/20, 4/10/20, 4/11/20, 4/12/20, 4/13/20, 4/14/20, 4/15/20, 4/16/20, 4/17/20, 4/18/20]
Index: []

[0 rows x 92 columns]

In [5]:
def fullNaN(countries_data):
    result = []
    for country_data in countries_data:
        result.append(country_data.fillna('Total'))
    return result

def country_with_province_data_prep(countries_data):
    result = []
    for country_data in countries_data:
        country_name = country_data['Country/Region'].values[0]
        del country_data['Country/Region']
        del country_data['Lat'];
        del country_data['Long'];
        country_data = country_data.melt(id_vars=['Province/State'], var_name='Date', value_name='Confirmed Cases');
        country_data['Date'] = pd.to_datetime(country_data['Date']);
        country_data = country_data.pivot(index='Date', columns='Province/State', values='Confirmed Cases');
        country_total = pd.DataFrame()
        country_total[country_name + ' Total Confirmed Cases '] = country_data.sum(axis=1)
        result.append(country_total)
    return result

def get_training_data_no_provinces():
    korea_data = data.loc[data['Country/Region'] == 'Korea, South']
    italy_data = data.loc[data['Country/Region'] == 'Italy']
    spain_data = data.loc[data['Country/Region'] == 'Spain']
    germany_data = data.loc[data['Country/Region'] == 'Germany']

    return [korea_data, spain_data, germany_data, italy_data]

def get_training_data_with_provinces():
    france_data = data.loc[data['Country/Region'] == 'France']
    uk_data = data.loc[data['Country/Region'] == 'United Kingdom']
    china_data = data.loc[data['Country/Region'] == 'China']
    
    return [france_data, uk_data, china_data]

def country_no_province_data_prep(countries):
    result = []
    for country_data in countries:
        country_name = country_data['Country/Region'].values[0]
        del country_data['Lat']
        del country_data['Long']
        del country_data['Province/State']
        country_data = country_data.melt(id_vars=['Country/Region'], var_name='Date', value_name='Confirmed Cases')
        ## Data prep for Korea
        country_data['Date'] = pd.to_datetime(country_data['Date']);
        country_data = country_data.pivot(index='Date', columns='Country/Region', values='Confirmed Cases');
        country_total = pd.DataFrame()
        country_total[country_name + ' Total Confirmed Cases'] = country_data.sum(axis=1)
        result.append(country_total)
    return result

In [6]:
countries_provinces_data = get_training_data_with_provinces()
countries_data = get_training_data_no_provinces()
x1 = country_with_province_data_prep(countries_provinces_data)
x2 = country_no_province_data_prep(countries_data)
input_data = x1+x2

In [7]:
visualize = pd.concat(input_data, axis=1)
visualize.iloc[1:20]

,France Total Confirmed Cases,United Kingdom Total Confirmed Cases,China Total Confirmed Cases,"Korea, South Total Confirmed Cases",Spain Total Confirmed Cases,Germany Total Confirmed Cases,Italy Total Confirmed Cases
Date,,,,,,,
2020-01-23,0,0,643,1,0,0,0
2020-01-24,2,0,920,2,0,0,0
2020-01-25,3,0,1406,2,0,0,0
2020-01-26,3,0,2075,3,0,0,0
2020-01-27,3,0,2877,4,0,1,0
2020-01-28,4,0,5509,4,0,4,0
2020-01-29,5,0,6087,4,0,4,0
2020-01-30,5,0,8141,4,0,4,0
2020-01-31,5,2,9802,11,0,5,2
2020-02-01,6,2,11891,12,1,8,2
2020-02-02,6,2,16630,15,1,10,2
2020-02-03,6,2,19716,15,1,12,2
2020-02-04,6,2,23707,16,1,12,2
2020-02-05,6,2,27440,19,1,12,2
2020-02-06,6,2,30587,23,1,12,2
2020-02-07,6,3,34110,24,1,13,3
2020-02-08,11,3,36814,24,1,13,3
2020-02-09,11,3,39829,25,2,14,3
2020-02-10,11,8,42354,27,2,14,3

In [8]:
def softmax(vector):
    return K.softmax(vector)

## Standardization
def normalize_data(matrix):
    scaler_array = []
    normalized_vectors = []
    for vector in matrix:
        scaler = MinMaxScaler().fit(vector)
        normalized_vector = scaler.transform(vector)
        scaler_array.append(scaler)
        normalized_vectors.append(normalized_vector)
    return scaler, normalized_vectors

def split_sequence(sequence, n_steps):
	X, y = list(), list()
	for i in range(len(sequence)):
		# find the end of this pattern
		end_ix = i + n_steps
		# check if we are beyond the sequence
		if end_ix > len(sequence)-1:
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
		X.append(seq_x)
		y.append(seq_y)
	return asarray(X), asarray(y)

In [9]:
scaler, X = normalize_data(input_data)
## need to append a start (shifting a day forward)
# X = X.insert(value=np.nan)
len(X)

7

In [10]:
## Config for model
Tx = X[0].shape[0]
Ty = Tx
x_dim = 3
S = Tx
lstm_x_hidden = 24
lstm_y_hidden = 24

In [11]:
# Defined shared layers as global variables
repeator = RepeatVector(x_dim)
reshaper = Reshape((4,1))
list_concatenator = Concatenate(axis=1)
concatenator = Concatenate(axis=1)
densor = Dense(x_dim+1, activation = "sigmoid")
activator = Activation(softmax, name='attention_weights') # We are using a custom softmax(axis = 1) loaded in this notebook

In [12]:
def one_step_attention(sx_list, st_1):
    sx = list_concatenator(sx_list)
    concat = concatenator([sx, st_1])
    e = densor(concat)
    context = activator(e)
    context = reshaper(context)
    return context

In [13]:
lstm_x = LSTM(lstm_x_hidden, return_state=True)
lstm_y = LSTM(lstm_y_hidden, return_state=True)
output_layer = Dense(1)

In [14]:
def model(Tx, Ty, lstm_x_hidden, lstm_y_hidden):
    inputs = Input(shape=(Tx,1))
    sx0 = Input(shape=(lstm_x_hidden,), name='sx0')
    cx0 = Input(shape=(lstm_x_hidden,), name='cx0')
    sx = sx0
    cx = cx0
    sy0 = Input(shape=(lstm_y_hidden,), name='sy0')
    cy0 = Input(shape=(lstm_y_hidden,), name='cy0')
    sy = sy0
    cy = cy0
    output = []
    for t in range(Ty):
        sx_list = []
        cx_list = []
        for t2 in range(x_dim):
            print(inputs.shape)
            X = inputs[:, t, :]
            print(X.shape)
            sx, _, cx = lstm_x(X, initial_state=[sx, cx])
            sx_list.append(sx)
            cx_list.append(cx)
        context = one_step_attention(sx_list, sy)
        sy, _, cy = lstm_y(inputs=context, initial_state=[sy, cy])
        out = output_layer(sy)
        output.append(out)
    model = Model(inputs=[X,sx0,cx0,sy0,cy0], outputs=output)
    print('output size is: ', len(output))
    print('individual output is: ', output[0].shape)
    return model

In [15]:
model = model(Tx, Ty, lstm_x_hidden, lstm_y_hidden)

(None, 88, 1)
(None, 1)

ValueError: Input 0 is incompatible with layer lstm_1: expected ndim=3, found ndim=2

In [ ]:
model.summary()

In [ ]:
opt = Adam(lr=0.005, beta_1=0.9, beta_2=0.999, decay=0.01)
model.compile(optimizer=opt, loss='mean_absolute_error')

In [ ]:
def get_training_data():
    sing_data = data.loc[data['Country/Region'] == 'Singapore']
    iran_data = data.loc[data['Country/Region'] == 'Iran']
    jap_data = data.loc[data['Country/Region'] == 'Japan']
    return [sing_data, iran_data, jap_data]

def get_training_data_with_province():
    den_data = data.loc[data['Country/Region'] == 'Denmark']
    ned_data = data.loc[data['Country/Region'] == 'Netherlands']
    return [den_data, ned_data]

In [ ]:
## This is where we get the data on Canada eh
train_data = get_training_data()
train_data = country_no_province_data_prep(train_data)
train_data_province = get_training_data_with_province()
train_data_province = country_with_province_data_prep(train_data_province)
train_data = train_data + train_data_province
_, train_data = normalize_data(train_data)
train_data = np.asarray(train_data)
train_data.shape

In [ ]:
s0 = np.zeros(shape=[Tx, lstm_y_hidden])
c0 = np.zeros(shape=[Tx, lstm_y_hidden])

In [ ]:
len(X)

In [ ]:
model.fit([X, s0, c0], y, epochs=10, batch_size=2)